/* 鼠标指针图标bynote.cn */

* {
    cursor: url(//cdn.jsdelivr.net/gh/ZCY1715/cdn@main/cursor/default.cur), auto;
}

/*a标签*/

a:hover {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/*按钮*/

button:hover {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}

#rightside>div>button,
#rightside>div>a {
    display: block;
    margin-bottom: 2px;
    width: 30px;
    height: 30px;
    color: var(--btn-color);
    text-align: center;
    font-size: 16px;
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/* 文章标签 */

.layout_post .tag_share .post-meta__tags {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/* 评论区 */

.vcol * {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}

.v[data-class=v] .vicon {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}

.v[data-class=v] .vbtn {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/* 回复 */

.vat {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/*i标签*/

i:hover {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}


/*up酱*/

#upj:hover {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}



/*分页器*/

#pagination .page-number:hover {
    cursor: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-62793fd8-63a8-4d63-9f21-0986ead6de14/accd3440-06dd-4133-ad74-d63ba52e021b.cur), pointer !important;
}

/* 分页器的三个点(...) */
.space {
    color: #00c4b6;
}